* {
	font-family: 'Roboto Condensed', sans-serif;
	/*border: red solid 1px !important;*/
	list-style: none;
	text-decoration: none;
}

body {
    margin: auto;
    padding: 0;
	background-color: #EEDCC8;
}

header {
	max-width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 5;
}

header .header_content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 37px;
}

.changecolortitle {
	color: #EC8013;
}

.logo {
	color: #180A06;
	font-size: 32px;
	font-weight: 700;
}

/*NAVBAR DESKTOP*/

.navbar {
	width: 50%;
}

.navbar nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 10%;
	font-size: 28px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}

.navbar nav ul {
	display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 100%;
}

/*NAVBAR DESKTOP*/

/*BUTTON*/

.button {
	background: #FFFAF4;
	width: 180px;
	border: 2px solid #180A06;
	border-radius: 4px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 30px;
	font-weight: 700;
	font-size: 24px;
	box-shadow: 5px 5px 0px #180A06;
}

.button:hover {
	background: #180A06;
	border: 2px solid #180A06;
	border-radius: 4px;
	color: #EC8013;
	box-shadow: none;
}

/*BUTTON*/

a {
	color: #180A06;
}

#background-hero {
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	top: 0;
}

.hero-content {
	max-width: 100%;
    height: 1210px;
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
	background-image: url('./background-hero.jpg');
	background-color: rgba(245, 229, 216, 0.7);
    background-blend-mode: overlay;
}

.content-CTA {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 0;
	z-index: 1;
}

.hero-content h2 {
	font-size: 1.5em;
	font-weight: 700;
}

.hero-content p {
	font-size: 20px;
	font-weight: 600;
	margin-top: 12px;
	margin-bottom: 42px;
}

.containersection1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 1000px;
}

.containersection1 h2 {
	margin-top: 130px;
}

.cheminducafe {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 640px;
	position: relative;
	top: 90px;
}

.up, .down {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 1200px;
	height: 109px;
}

.down {
	width: 1400px;
}

.up-container, .down-container {
	display: flex;
	width: 300px;
	height: 100px;
}

.right {
	width: 410px;
	height: 100px;
}

.img-cheminducafe {
	width: 75px;
	height: 75px;
	margin-right: 47px;
}

.up-container :nth-child(2) {
	display: flex;
	flex-direction: column;
}

.down-container :nth-child(2) {
	display: flex;
	flex-direction: column;
}

.first, .third {
	width: 350px;
    height: 110px;
}

.second {
	width: 380px;
	height: 110px;
}

.h3-cheminducafe {
	padding: 0;
	margin: 0;
	margin-bottom: 13px;
}

.parcours {
	background-image: url('./Parcours.png');
	width: 1070px;
	max-width: 1149px;
	height: 200px;
	justify-content: center;
}

/* BAND SVG */

.band-svg {
	background-image: url('./bandsvg.svg');
	background-position: center;
	background-repeat: no-repeat;
	height: 250px;
}

/* PRODUCT CARD */

.best-coffee {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 146px;
}

.container-card {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
	display: flex;
	flex-direction: column;
	width: 442px;
	height: 560px;
}